@model jobmvcproject.Models.Login
@{
    ViewBag.Title = "Login_Loadpage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Login</h1>
<div>
    @using (Html.BeginForm("Login_Click", "Login", FormMethod.Get))
    {
        <div>
            <label>User Name:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.uname)
            @Html.ValidationMessageFor(m => m.uname)
        </div>
        <div>
            <label>Password:</label>
        </div>
        <div>
            @Html.PasswordFor(m => m.pwd)
            @Html.ValidationMessageFor(m => m.pwd)
        </div>
        <div>
            <input type="submit" value="Login" />
            @Html.DisplayFor(m => m.logmsg)
        </div>
    }
</div>


