@model jobmvcproject.Models.JobSearch
@{
    ViewBag.Title = "JobList_Pageload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Jobs Available</h2>
<div>
@using (Html.BeginForm("JobList_Click", "JobList", FormMethod.Post))
{
                <table>
                    <tr>
                        <td style="padding-left:8px;"><label>Skills:</label></td>
                        <td>@Html.TextBoxFor(m => m.insertse.Skills_Needed)</td>
                        <td style="padding-left:8px;"><label>Experience:</label></td>
                        <td>@Html.TextBoxFor(m => m.insertse.Exp_In_Yrs_Needed, new { @class = "non-zero-num" })</td>
                        <td style="padding-left:8px;"><label>Location:</label></td>
                        <td>@Html.TextBoxFor(m => m.insertse.Job_Location)</td>
                        <td><input type="submit" value="Search" /></td>


                    </tr>
                </table>
            }
</div>
<div>
    @using (Html.BeginForm("JobList_Pageload", "JobList", FormMethod.Get))
    {
        if(Model!=null)
        {
            if(Model.SelectJob!=null && Model.SelectJob.Count!=0)
                    {
    <table class="table">
        <tr>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.insertse.Company_Id)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.insertse.Job_Title)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.insertse.Job_Desc)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.insertse.Exp_In_Yrs_Needed)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.insertse.Skills_Needed)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.insertse.Job_Location)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.insertse.Job_Salary)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.insertse.Job_Type)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.insertse.Last_Date)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.insertse.Job_Status)
            </th>
        </tr>
        @foreach (var item in Model.SelectJob)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exp_In_Yrs_Needed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skills_Needed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Status)
        </td>
        <td>
            @Html.ActionLink("Apply Now", "ApplyCV_Load", "ApplyCV",
                new { cid = item.Company_Id, jid = item.Job_Id }, null)
        </td>
    </tr>
        }
        </table>
            }
        }
        else
                {
                    <script>
                        alert('no data found!');
                    </script>
                }
         }
    }
    <div>
        @Html.ActionLink("Back To Home Page","UserHome","Login")
    </div>
    </div>
